<div>
  <div class="header-div">
    <header data-header-title>Edit Product</header>
  </div>

  <div>
    <div data-product-input>
      <!-- ID  -->
      <div class="product-value-ctn" data-product-id>
        <div data-id-label class="product-value-label">Id</div>
        <p>{{this.product.id}}</p>
      </div>

      <!-- NAME  -->
      <div class="product-value-ctn">
        <div data-name-label class="product-value-label">Name</div>
        <mat-form-field class="product-value-form-field">
          <input matInput data-name
                 type="text"
                 rows="1"
                 [formControl]="nameControl"
                 [value]="nameControl.value"
          >
          <mat-error data-basic-error *ngIf="!nameControl.valid">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- DESCRIPTION  -->
      <div class="product-value-ctn">
        <div data-description-label class="product-value-label">Description</div>
        <mat-form-field class="product-value-form-field">
          <input matInput data-description
                 type="text"
                 rows="1"
                 [formControl]="descriptionControl"
                 [value]="descriptionControl.value"
          >
          <mat-error data-basic-error *ngIf="!descriptionControl.valid">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="buttons">
      <button data-button-save-product
              (click)="editProduct()"
              [disabled]="!this.productFormGroup.valid"
              class="save-product">Save Product
      </button>
      <button data-button-cancel-product
              (click)="cancel(false)"
      >Cancel
      </button>
    </div>
  </div>
</div>
