@import '../../../styles.scss';

[data-table-container] {
  @include dataTableShell();
}

tr {
  display: flex;
}

mat-table {
  @include dataTable();
}

tr[mat-header-row] {
  @include dataTableHeaderRow();
}

tr[mat-row] {
  @include dataTableBodyRow();
}

mat-header-cell {
  @include dataTableHeaderCell();
}

mat-cell {
  @include dataTableCell();
}

mat-header-cell:first-child {
  @include dataTableIdWidth();
}

mat-cell:first-child {
  @include dataTableIdValue();
}

.edit {
  @include dataTableEditButton();
}
