<div>
  <div class="header-div">
    <header data-header-title>Settings</header>
  </div>

  <div data-settings-input>
    <!-- TITLE  -->
    <div class="settings-value-ctn">
      <div data-title-label class="settings-value-label">Title</div>
      <mat-form-field class="settings-value-form-field">
        <input matInput data-title
               type="text"
               rows="1"
               [formControl]="titleControl"
        >
        <mat-error data-basic-error *ngIf="!titleControl.valid">
          Title is required
        </mat-error>
      </mat-form-field>
    </div>
    <!-- CAN EDIT    -->
    <div class="settings-value-ctn">
      <app-yes-no-dropdown
        [control]="canEditControl"
        [name]="'Can Edit'"
        [htmlId]="'can-edit-dropdown'"
        [yesOption]="'True'"
        [noOption]="'False'"
      ></app-yes-no-dropdown>
    </div>

    <!-- COLOR  -->
    <div class="dropdown-ctn">
      <div data-dropdown-label class="dropdown__label">
        Color - *Applies Immediately
      </div>
      <div class="dropdown__data">
        <mat-form-field class="dropdown-form-field">
          <mat-label>Select Value</mat-label>
          <mat-select [formControl]="colorControl" (selectionChange)="setColor()"
                      [ngStyle]="{'background-color': getBackgroundColor(this.colorControl.value)}">
            <mat-option *ngFor="let color of this.colors" data-dropdown-option [value]="color.value"
                        [ngStyle]="{'background-color': getBackgroundColor(color.value)}"
            >
              {{color.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="buttons">
    <div>
      <button data-button-apply
              (click)="applyToSettings()"
              [disabled]="!this.settingsFormGroup.valid"
              class="apply-button">Apply
      </button>
    </div>
    <div>
      <button data-button-reset-everything
              (click)="resetEverything()"
              class="reset-button">Reset Everything
      </button>
    </div>
  </div>

  <div class="header-div excel-export">
    <header data-header-title>Export To Excel</header>
  </div>

  <div class="buttons">
    <div>
      <button data-button-export (click)="this.settingsService.exportToExcelByPurchaser()">
        By Purchaser
      </button>
    </div>
    <div>
      <button data-button-export (click)="this.settingsService.exportToExcelByProduct()">
        By Products
      </button>
    </div>
    <div>
      <button data-button-export (click)="this.settingsService.exportToExcelTotals()">
        Totals By Person
      </button>
    </div>
  </div>
</div>
