<app-add-person></app-add-person>

<div data-table-container>
  <mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayColumns;"></tr>
  </mat-table>
</div>
