<div>
  <div class="header-div">
    <header data-header-title (click)="switchDisplay()">Add Person</header>
  </div>

  <div *ngIf="showInput">
    <div data-person-input>
      <!-- FIRST NAME  -->
      <div class="person-value-ctn">
        <div data-first-name-label class="person-value-label">First Name</div>
        <mat-form-field class="person-value-form-field">
          <input matInput data-first-name
                 type="text"
                 rows="1"
                 [formControl]="firstNameControl"
          >
          <mat-error data-basic-error *ngIf="!firstNameControl.valid">
            First name is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- LAST NAME  -->
      <div class="person-value-ctn">
        <div data-last-name-label class="person-value-label">Last Name</div>
        <mat-form-field class="person-value-form-field">
          <input matInput data-last-name
                 type="text"
                 rows="1"
                 [formControl]="lastNameControl"
          >
          <mat-error data-basic-error *ngIf="!lastNameControl.valid">
            Last Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- EMAIL  -->
      <div class="person-value-ctn">
        <div data-email-label class="person-value-label">Email</div>
        <mat-form-field class="person-value-form-field">
          <input matInput data-email
                 type="text"
                 rows="1"
                 [formControl]="emailControl"
          >
          <mat-error data-basic-error *ngIf="!emailControl.valid">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="buttons">
      <button data-button-add-person
              (click)="addPerson()"
              [disabled]="!this.personFormGroup.valid"
              class="add-person">Add Person
      </button>
    </div>
  </div>
</div>
