<div>
  <div class="header-div">
    <header data-header-title (click)="switchDisplay()">Add Purchase</header>
  </div>

  <div *ngIf="showInput">

    <div data-purchase-input>
      <!-- PRODUCT  -->
      <div class="dropdown-ctn">
        <div data-dropdown-label class="dropdown__label">
          Product
        </div>
        <div class="dropdown__data">
          <mat-form-field class="dropdown-form-field">
            <mat-label>Select Value</mat-label>
            <mat-select [formControl]="productControl">
              <mat-option *ngFor="let product of this.getFilteredProducts()" data-dropdown-option [value]="product.id" (click)="applyMinSellAmount()">
                {{product.name}} - {{product.description}}
              </mat-option>
            </mat-select>
            <mat-error data-basic-error *ngIf="!productControl.valid">
              Product is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- PURCHASER  -->
      <div class="dropdown-ctn">
        <div data-dropdown-label class="dropdown__label">
          Purchaser
        </div>
        <div class="dropdown__data">
          <mat-form-field class="dropdown-form-field">
            <mat-label>Select Value</mat-label>
            <mat-select [formControl]="purchaserControl">
              <mat-option *ngFor="let person of this.people" data-dropdown-option [value]="person.id">
                {{person.firstName}} {{person.lastName}}
              </mat-option>
            </mat-select>
            <mat-error data-basic-error *ngIf="!purchaserControl.valid">
              Purchaser is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- AMOUNT  -->
      <div class="purchase-value-ctn">
        <div data-amount-label class="purchase-value-label">Amount</div>
        <mat-form-field class="purchase-value-form-field">
          <input matInput data-amount
                 type="text"
                 rows="1"
                 [formControl]="amountControl"
          >
          <mat-error data-basic-error *ngIf="!amountControl.valid">
            Amount is required
          </mat-error>
        </mat-form-field>
      </div>


    </div>

    <div class="buttons">
      <button data-button-add-purchase
              (click)="addPurchase()"
              [disabled]="!purchaseFormGroup.valid"
              class="add-purchase">Add Purchase
      </button>
    </div>
  </div>
</div>
